<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>		
      <th>Account Nbr</th>
      <th>Remarks</th>
      <th>Opening Date</th>
      <th>Closing Date</th>

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.birthdate %></td>
	<td><%= client.account_nbr %></td>
	<td><%= client.remarks %></td>
	<td><%= client.opening_date %></td>
	<td><%= client.closing_date %></td>

        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
