<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Account Id:</strong>
  <%= @client.account_nbr %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @client.opening_date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @client.closing_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @client.complete %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @client.birthdate %>
</p>

<p><strong>Remarks:</strong> </p>
<textarea>
 <%= @client.remarks %>
</textarea>

<p>
  <strong>Input date:</strong>
  <%= @client.input_date %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>  |
<%= link_to 'Relationships', relationships_path %>


<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <% @client.relationships.each do |relationship| %>
    <tr>
      <td><%= relationship.name %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
